<div class="card w-80 border-info">
  <form>
    <div class="card-header">
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input value={{model.attachment}} type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="message-title">Title</label>
        <input value= {{model.title}} oninput= {{action (mut model.title)}} type="text" class="form-control" id="message-title">
      </div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="message-content">Content</label>
        <textarea value={{model.content}} oninput={{action (mut model.content)}} type="text" class="form-control" id="message-content"></textarea>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-warning">Cancel</a>
      <a {{action 'save'}} class="btn btn-success float-right">Save</a>
    </div>
  </form>
</div>
