<h1>Messages</h1>
<div class="row">
  <div class="col-lg-3 col-md-5 col-sm-12">
    {{#if model}}
      {{#each model as |post|}}
        {{#link-to "messenger.message.show" post tagName="div" class="message" }}
          <div class="card border-info" >
            <div class="card-body">
              <h5 class="card-title">
          {{#link-to "messenger.message.show" post tagName="a"}}
          {{post.title}}
          {{/link-to}}
        </h5>
              <h6 class="card-subtitle mb-2 text-muted">By: {{post.key}}</h6>
              <p class="card-text"><small class="text-muted">{{post.createdAt}}</small></p>
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    {{else}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Currently No Posts</h5>
          <p class="card-text">Create One to see this list populate</p>
          <a href="#" class="btn btn-primary">New Post</a>
        </div>
      </div>
    {{/if}}
  </div>
  <div class=" col-lg-9 col-md-7 col-sm-12 col-xs-6">
    {{#link-to 'messenger.new' tagName="button" class="btn btn-success create-message-btn"}}New Post{{/link-to}}
    {{outlet}}
  </div>
</div>
